/* =================================================
            Base Element Styles & Classes
==================================================== */

body {
  margin: 0 auto;
  min-height: 100vh;
}

form {
  display: flex;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

input[type="search"] {
  border: solid 2px #d4d4d4;
  border-radius: 5px;
  font-size: 12px;
  height: 15px;
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
}

.gallery {
  max-width: 860px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.image {
  margin: 5px;
}
